@media (max-width: 768px) {

    body {
        font-size: 14px;
    }

    /*----------- Header -----------*/
    .page-header {
        padding: 0 24px;
    }

    .page-header__description {
        margin-left: 8px;
    }

    /*------------ Dashboard -------------*/
    .tests-list {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .test {
        width: 280px;
    }

    .test-diagram--small,
    .test-diagram--small::after,
    .test-diagram--small::before {
        width: 50px;
        height: 50px;
    }

    .test-diagram__description--small {
        width: 60px;
    }

    .test-diagram__number--small {
        font-size: 16px;
    }

    /*----------- Test Result -----------*/
    .page-body .test-diagram {
        margin: 16px 0;
    }

    .page-body .test-diagram,
    .page-body .test-diagram::before,
    .page-body .test-diagram::after {
        width: 210px;
        height: 210px;
    }
}